<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <!-- Bootstrap CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?Dancing+Script:wght@500&display=swap">
    

    <title>Joke Spot</title>
    {% block change %} {% endblock %}
  </head>
  <body style="background-color : #e4e4e4">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top "style="background-color:#FBC529;">
      <div class="container-fluid">
        <a class="navbar-brand ml-"style="color:black;" href="{% url 'homepage' %}"><b><h1>Joke Spot</h1></b></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">

            {% if request.user.is_authenticated %}
            <li class="nav-item ">
              <a style="text-decoration: none;"
                class="nav-link text-dark"
                href="{% url 'add_post' %}"
                >Add Post</a
              >
            </li>
            {% endif %}
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-lg-0">
              {% if request.user.is_authenticated %}
              <li class="nav-item mx-3">
                <a style="text-decoration: none;"
                  class="nav-link btn  text-dark"
                  href="{% url 'profile' %}"
                  >Profile</a
                >
              </li>
              <li class="nav-item ">
                <a style="text-decoration: none;"
                class="nav-link btn  text-dark text-none"
                href="{% url 'service' %}"
                >Service</a
                >
              </li>
              <li class="nav-item ">
                <a style="text-decoration: none;"
                class="nav-link btn  text-dark text-none"
                href="{% url 'contact' %}"
                >Contact Us</a
                >
              </li>
              <li class="nav-item">
                <a style="text-decoration: none;"
                class="nav-link btn  text-dark text-none"
                href="{% url 'about' %}"
                >About Us</a
                >
              </li>
              <li class="nav-item mx-3">
                <a 
                  class="nav-link btn btn-danger text-dark"
                  href="{% url 'user_logout' %}"
                  >Logout</a
                >
              </li>
              {% else %}
              <li class="nav-item ">
                <a style="text-decoration: none;"
                  class="nav-link btn  text-dark text-none"
                  href="{% url 'service' %}"
                  >Service</a
                >
              </li>
              <li class="nav-item ">
                <a style="text-decoration: none;"
                  class="nav-link btn  text-dark text-none"
                  href="{% url 'contact' %}"
                  >Contact Us</a
                >
              </li>
              <li class="nav-item ">
                <a style="text-decoration: none;"
                  class="nav-link btn  text-dark text-none"
                  href="{% url 'about' %}"
                  >About Us</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn  text-dark"
                  href="{% url 'user_login' %}"
                  >Login</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {% comment %} {% for i in messages %}
    <div class="">
      <h3 class="text-{{i.tags}}">{{i}}</h3>
    </div> {% endcomment %}

    {% comment %} {% endfor %}  {% endcomment %}
    
    {% block content %} {% endblock %}


    <footer class="p-5" style="background-color:#f5ee27;">
      <div class="container w-75 m-auto row p-5">
        <div class="col-md-6">
          <p><small>Copyright © JokeStore. All Rights Reserved</small></p>
          <h5>Follow US</h5>
          <div class="icons">
            <img class="icon" src="./static/LinkedIn.png" alt="" />
            <img class="icon" src="./static/YouTube.png" alt="" />
            <img class="icon" src="./static/LinkedIn.png" alt="" />
          </div>
        </div>
        <div class="col-md-3">
          <h5>Company</h5>
          <li>About</li>
          <li>Contact us</li>
          <li>Culture</li>
          <li>Blog</li>
        </div>
        <div class="col-md-3">
          <h5><b>Contact</b></h5>
          <li>New York, NY 10012, US</li>
          <li>info@example.com</li>
          <li>+ 01 234 567 88</li>
          <li>+ 01 234 567 89</li>
        </div>
      </div>
      <hr />
      <p class="text-center mt-3">
        <small>Copyright © JokeStore. All Rights Reserved</small>
      </p>
    </footer>




    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <script>
      AOS.init();
    </script>
  </body>
</html>