{% extends 'base.html' %} 
{% load static %}
{% block content %}
{% comment %} <h1>Our Service</h1> {% endcomment %}
<br>
<div style="background-color:#efe5b8;"class="mt-5">
  <h1 style="text-align:center "><u>Jokes</u></h1>
  <div class="row p-3 text-center justify-content-center">
    {% for cat in category %}
    <div class="col-1 d-flex flex-wrap ">
      <a href="{% url 'category_wise_post' cat.slug %}" class="text-decoration-none text-dark btn "style="background-color:#FBC529;" >{{cat.name}}</a>
    </div>
    {% endfor %}
  </div>
  
  <div class="d-flex flex-wrap p-4 justify-content-center" style="background-color:#efe5b8;">
  <div class="col-10 p-1">
    <h1>{{data | length}} results found</h1>
    <div class="d-flex flex-wrap pt-5">
      {% for post in data %}
      <div class="col-sm-3">
        <div class="card m-2 h-100 ">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'detail_post' post.id %}" class="text-decoration-none text-dark">{{post.content}}</a></h5>
            <p>
              Category : {% for cat in post.category.all %}
              <button class="btn btn-sm m-2 bg-warning" disabled>
                <b>{{cat.name}}</b>
                <br>
              </button>
              {% endfor %}
              <br>
              <a class="text-decoration-none "href="{% url 'like' post.id %}">
                <i class="fa fa-thumbs-up" style="font-size:24px"></i> : {{post.like}} 
                <i style="font-size:24px" class="fa">&#xf14d;</i> : {{post.share}}</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}